@font-face {
  font-family: 'planetposen-icons';
  src:  url('fonts/planetposen-icons.eot?11e7i0');
  src:  url('fonts/planetposen-icons.eot?11e7i0#iefix') format('embedded-opentype'),
    url('fonts/planetposen-icons.ttf?11e7i0') format('truetype'),
    url('fonts/planetposen-icons.woff?11e7i0') format('woff'),
    url('fonts/planetposen-icons.svg?11e7i0#planetposen-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'planetposen-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--at-outline:before {
  content: "\e90b";
}
.icon--at:before {
  content: "\e90c";
}
.icon--basket-outline:before {
  content: "\e900";
}
.icon--basket:before {
  content: "\e901";
}
.icon--card-outline:before {
  content: "\e902";
}
.icon--card:before {
  content: "\e903";
}
.icon--cart-outline:before {
  content: "\e904";
}
.icon--cart:before {
  content: "\e905";
}
.icon--cash-outline:before {
  content: "\e906";
}
.icon--cash:before {
  content: "\e907";
}
.icon--checkmark-circle-outline:before {
  content: "\e913";
}
.icon--checkmark-circle:before {
  content: "\e914";
}
.icon--close-circle-outline:before {
  content: "\e908";
}
.icon--close-circle:before {
  content: "\e909";
}
.icon--key-outline:before {
  content: "\e92c";
}
.icon--key:before {
  content: "\e92d";
}
.icon--lock-outline:before {
  content: "\e92e";
}
.icon--lock:before {
  content: "\e92f";
}
