$icomoon-font-family: "planetposen-icons" !default;
$icomoon-font-path: "assets/fonts/planetposen-icons/fonts" !default;

$icon--add-circle-outline: "\e91d";
$icon--add-circle: "\e91c";
$icon--add: "\e91e";
$icon--alert-outline: "\e928";
$icon--alert: "\e929";
$icon--analytics-outline: "\e936";
$icon--analytics: "\e937";
$icon--arrow-back: "\e90a";
$icon--arrow-down: "\e90d";
$icon--arrow-dropdown-circle: "\e93a";
$icon--arrow-dropdown: "\e90f";
$icon--arrow-dropleft-circle: "\e910";
$icon--arrow-dropleft: "\e911";
$icon--arrow-dropright-circle: "\e912";
$icon--arrow-dropright: "\e915";
$icon--arrow-dropup-circle: "\e916";
$icon--arrow-dropup: "\e917";
$icon--arrow-forward: "\e918";
$icon--arrow-back1: "\e91f";
$icon--arrow-down1: "\e91b";
$icon--arrow-forward1: "\e91a";
$icon--arrow-up1: "\e90e";
$icon--arrow-up: "\e919";
$icon--at-outline: "\e90b";
$icon--at: "\e90c";
$icon--ios-backspace-outline: "\e930";
$icon--ios-backspace: "\e931";
$icon--basket-outline: "\e900";
$icon--basket: "\e901";
$icon--bug-outline: "\e920";
$icon--bug: "\e921";
$icon--card-outline: "\e902";
$icon--card: "\e903";
$icon--cart-outline: "\e904";
$icon--cart: "\e905";
$icon--cash-outline: "\e906";
$icon--cash: "\e907";
$icon--checkmark-circle-outline: "\e913";
$icon--checkmark-circle: "\e914";
$icon--close-circle-outline: "\e908";
$icon--close-circle: "\e909";
$icon--create-outline: "\e922";
$icon--create: "\e927";
$icon--eye-off-outline: "\e923";
$icon--eye-off: "\e924";
$icon--eye-outline: "\e925";
$icon--eye: "\e926";
$icon--information-circle-outline: "\e92a";
$icon--information-circle: "\e92b";
$icon--key-outline: "\e92c";
$icon--key: "\e92d";
$icon--lock-outline: "\e92e";
$icon--lock: "\e92f";
$icon--mail-open-outline: "\e932";
$icon--mail-open: "\e933";
$icon--mail-outline: "\e934";
$icon--ios-mail: "\e935";
$icon--planet-outline: "\e938";
$icon--planet: "\e939";
$icon--thumbs-down-outline: "\e93b";
$icon--thumbs-down: "\e93c";
$icon--thumbs-up-outline: "\e93d";
$icon--thumbs-up: "\e93e";

