$icomoon-font-family: "planetposen-icons" !default;
// @import './frontend/assets/fonts/planetposen-icons/style.scss';
$icomoon-font-path: "assets/fonts/planetposen-icons/fonts" !default;

$icon--at-outline: "\e90b";
$icon--at: "\e90c";
$icon--basket-outline: "\e900";
$icon--basket: "\e901";
$icon--card-outline: "\e902";
$icon--card: "\e903";
$icon--cart-outline: "\e904";
$icon--cart: "\e905";
$icon--cash-outline: "\e906";
$icon--cash: "\e907";
$icon--checkmark-circle-outline: "\e913";
$icon--checkmark-circle: "\e914";
$icon--close-circle-outline: "\e908";
$icon--close-circle: "\e909";
$icon--key-outline: "\e92c";
$icon--key: "\e92d";
$icon--lock-outline: "\e92e";
$icon--lock: "\e92f";

