$icomoon-font-family: "planetposen-icons" !default;
$icomoon-font-path: "assets/fonts/planetposen-icons/fonts" !default;

$icon--add-circle-outline: "\e91d";
$icon--add-circle: "\e91c";
$icon--add: "\e91e";
$icon--analytics-outline: "\e91a";
$icon--analytics: "\e91b";
$icon--arrow-back: "\e90a";
$icon--arrow-down: "\e90d";
$icon--arrow-dropdown-circle: "\e90e";
$icon--arrow-dropdown: "\e90f";
$icon--arrow-dropleft-circle: "\e910";
$icon--arrow-dropleft: "\e911";
$icon--arrow-dropright-circle: "\e912";
$icon--arrow-dropright: "\e915";
$icon--arrow-dropup-circle: "\e916";
$icon--arrow-dropup: "\e917";
$icon--arrow-forward: "\e918";
$icon--arrow-up: "\e919";
$icon--at-outline: "\e90b";
$icon--at: "\e90c";
$icon--basket-outline: "\e900";
$icon--basket: "\e901";
$icon--card-outline: "\e902";
$icon--card: "\e903";
$icon--cart-outline: "\e904";
$icon--cart: "\e905";
$icon--cash-outline: "\e906";
$icon--cash: "\e907";
$icon--checkmark-circle-outline: "\e913";
$icon--checkmark-circle: "\e914";
$icon--close-circle-outline: "\e908";
$icon--close-circle: "\e909";
$icon--key-outline: "\e92c";
$icon--key: "\e92d";
$icon--lock-outline: "\e92e";
$icon--lock: "\e92f";

