
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  -webkit-appearance: unset;
  margin: 0;
  font-family: inherit;

  // disable-dbl-tap-zoom
  touch-action: manipulation;
}
